<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>school21.swifty-companion</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>swifty-companion</string>
			</array>
		</dict>
	</array>
	<key>INTRA_SECRET</key>
	<string>$(INTRA_SECRET)</string>
	<key>INTRA_UID</key>
	<string>$(INTRA_UID)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Proxima-Soft-Bold.otf</string>
		<string>Proxima-Soft-Regular.otf</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
